[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=exportLayerAnim
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Export Layer Anim
Comment=Export root layers for each anim frame 
